{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h3>Welcome to Diminuendo</h3>
    <hr>
    <div style="margin-right: 50%">
        <p style="font-size: 22px">Diminuendo is url shortener and analyzer tool. Real diminuendo is actually a spell.
            If you want to see this magic, you should look at the <a
                    href="https://github.com/ilteriskeskin/diminuendo/blob/main/README.md">README.md </a> file.</p>
        <p style="font-size: 22px">I hope you like to diminuendo</p>

        <hr>

        <h5>Developers:</h5>
        <p style="font-size: 16px"><a href="https://github.com/ilteriskeskin">Ali İlteriş Keskin</a></p>
        <p style="font-size: 16px"><a href="https://github.com/buurak">Burak Yılmaz</a></p>

    </div>
{% endblock %}