{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Home</h1>
    <hr>
    {% if session["logged_in"] %}
        <p>Welcome {{ session['email'] }}</p>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Short URL</th>
                <th scope="col">Click Number</th>
                <th scope="col">Long URL</th>
                <th>Referrer Url</th>
                <th>Country</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                <tr>
                    <td><a href="">https://diminuendo.ml/u/{{ url.short_url }}</a></td>
                    <td>{{ url.click_counter }}</td>
                    <td>{{ url.long_url }}</td>
                    <td>{{ url.referrer_url | length }}</td>
                    <td>{{ url.country | length }}</td>
                    <td><a class="btn btn-danger" href="/analyze/{{ url._id }}">Analyze</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br><br>

        {% if referrer_urls_analyze and countries_analyze %}
            <strong>Analyze Result of Referrer Url:</strong>
            <br>
            <strong>Referred Url Numbers: {{ total_ref_url }}</strong>
            <br>

            {% for url, counter in referrer_urls_analyze.items() %}
                {{ url }} | {{ counter }} | {{ counter * 100 / total_ref_url  }} %
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                         role="progressbar"
                         style="width: {{ counter * 100 / total_ref_url }}%"
                         aria-valuenow="{{ counter }}"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            {% endfor %}

            <hr>

            <strong>Analyze Result of Referrer Country:</strong>
            <br>
            <strong>Country Numbers: {{ total_country_url }}</strong>
            <br>
            {% for country, counter in countries_analyze.items() %}
                {{ country }} | {{ counter }} | {{ counter * 100 / total_country_url  }} %
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                         role="progressbar"
                         style="width: {{ counter * 100 / total_country_url }}%"
                         aria-valuenow="{{ counter }}"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}